/* Make the active tab text bold and slightly darker */
.monaco-workbench .part.editor .tab.active .tab-label {
  font-weight: 600 !important;
  border-bottom: 0px;
}
.monaco-workbench .part.editor .tab .tab-label {
  font-family: "JetBrains Mono", "Fira Code", "Cascadia Code", monospace;
  font-size: larger;
  color: #2b2b2b !important;
}

/* Optional hover tweak */
.monaco-workbench .part.editor .tab:hover:not(.active) {
  background-color: #f4ebc9 !important;
}
