/* src/index.css (or your main css file) */
@tailwind base;
@tailwind components;
@tailwind utilities;

.tab.active .tab-label {
  font-weight: bold !important;
  color: #ff0000 !important;
  /* color: #2b2b2b !important; */
}
