/* src/index.css (or your main css file) */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* font-family: "Jameel Noori Nastaleeq", "Noto Nastaliq Urdu", serif; */
  white-space: normal !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  /* direction: rtl; */
}
